.idea/
.settings/
.vscode/
vender/
log/
pkg/
bin/
temp/

.DS_Store
.buildpath
.hgignore.swp
.project
.orig
.swp
*/.DS_Store
.vscode

hack/config.yaml
manifest/config/config.yaml
test.go
test.json
tokenJson.json
test
cbuild
main
composer.lock
gitpush.sh