.idea/
.settings/
.vscode/
vender/
log/
pkg/
bin/
temp/
hack/config.yaml
manifest/config/config.yaml


.DS_Store
.buildpath
.hgignore.swp
.project
.orig
.swp
cbuild
*/.DS_Store
main
.vscode
composer.lock
gitpush.sh